{# load seo #}
{% load i18n %}
{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}SaneSide Platform - Volunteering and Community Service made easy{% endblock %}</title>

    {% block meta %}
        {% include "fragments/head-meta.html" %}
    {% endblock %}

    {% block extras %}
        {% include "fragments/head-extras.html" %}
    {% endblock %}

    {% block blockbots %}
        <meta name="robots" content="index,follow" />
    {% endblock %}

    {% block extra_meta %}
        {# get_metadata #}
    {% endblock %}

    {% block extra_style %}{% endblock %}
    {% block extra_script %}{% endblock %}
    {% block extra_head %}{% endblock %}
    </head>

    <body>
        <div id="spinner">
            <img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="Loading..."/>
        </div>

        <div id="wrapper">
            <div id="navbar">
            {% block navbar %}
                {% include "fragments/navbar.html" %}
            {% endblock %}
            </div>

            <div id="content">
            {% block content %}
            {% endblock %}

            {% block extra_content %}
            {% endblock %}
            </div>

            <div id="footer">
            {% block footer %}
                {% include "fragments/footer.html" %}
            {% endblock %}
            </div>
        </div>

        <!-- Modals -->
    {% if not request.user.is_authenticated %}
        {# include "accounts/modals/forgot-password-popup-modal.html" #}
    {% endif %}

        {% include "home/modals/privacy-policy-popup-modal.html" %}
        {% include "home/modals/user-agreement-popup-modal.html" %}

    {% block script %}
        {% include "fragments/body-script.html" %}
    {% endblock %}
    </body>
</html>
