{% load i18n %}
{% load static %}

<footer>
    <div class="row footer-top">
        <div class="container">
            <div class="col-xs-24 col-sm-4 col-md-4 logo">
            </div>

            <div class="col-xs-24 col-sm-12 col-md-12 site-map">
                <ul>
                    <p>{% trans "Terms &amp; Conditions" %}</p>

                    <li><a href="{% url 'privacy-policy' %}">{% trans "Privacy Policy" %}</a></li>
                    <li><a href="{# url 'user-agreement' #}">{% trans "User Agreement" %}</a></li>
                    <li><a href="{# url 'faq' #}">{% trans "FAQ" %}</a></li>
                </ul>

                <ul>
                    <p>{% trans "Media" %}</p>

                    <li><a href="{# url 'post-list' #}">{% trans "Our Blog" %}</a></li>
                    <li><a href="{# url 'our-team' #}">{% trans "Our Team" %}</a></li>
                    <li><a href="{# url 'our-partners' #}">{% trans "Our Partners" %}</a></li>
                </ul>

                <ul>
                    <p>{% trans "Feedback" %}</p>

                    <li><a href="{# url 'about-us' #}">{% trans "About us" %}</a></li>
                    <li><a href="{# url 'contact-us' #}">{% trans "Contact us" %}</a></li>
                    <li><a href="{# url 'forum-list' #}">{% trans "Forum" %}</a></li>
                </ul>
            </div>

            <div class="col-xs-24 col-sm-8 col-md-8 social-buttons" align="right">
                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.FACEBOOK }}';" class="btn btn-facebook">
                    <i class="fab fa-facebook-square fa-fw"></i>
                </button>

                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.TWITTER }}';" class="btn btn-twitter">
                    <i class="fab fa-twitter-square fa-fw"></i>
                </button>

                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.LINKEDIN }}';" class="btn btn-linkedin">
                    <i class="fab fa-linkedin fa-fw"></i>
                </button>

                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.GOOGLE }}';" class="btn btn-google-plus">
                    <i class="fab fa-google-plus-square fa-fw"></i>
                </button>

                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.PINTEREST }}';" class="btn btn-pinterest">
                    <i class="fab fa-pinterest-square fa-fw"></i>
                </button>

                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.INSTAGRAM }}';" class="btn btn-instagram">
                    <i class="fab fa-instagram fa-fw"></i>
                </button>

                <button onclick="javascript:document.location.href='{{ SOCIAL_LINKS.TUMBLR }}';" class="btn btn-tumblr">
                    <i class="fab fa-tumblr-square fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row footer-bottom">
        <div class="container">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <p>Copyright &copy; 2014-2019 - SaneSide <span class="pull-right">{{ product_version_num }}</span></p>
                <a href="/humans.txt" class="pull-right">
                    <img alt="humans.txt" src="{% static 'img/humanstxt-transparent-color.png' %}" alt="SaneSide Platform." />
                </a>
                <a href="/docs" class="pull-right">
                    <img alt="humans.txt" src="{% static 'img/swagger-logo.png' %}" alt="SaneSide Platform." />
                </a>
            </div>
        </div>
    </div>
</footer>
