{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block title %}{% trans "Sign up" %} - {{ block.super }}{% endblock %}

{% block extra_script %}
    <!-- NavBar Wizard -->
    {% comment %}
    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'js/navbar-wizard.js' %}"></script>
    {% endcompress %}
    {% endcomment %}

    <!-- Wire up Events -->
    {% comment %}
    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'js/wire-up-events.js' %}"></script>
    {% endcompress %}
    {% endcomment %}
{% endblock %}

{% block content %}
<div class="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="breadcrumbs pull-right">
                    <a href="{# url 'account-list' #}">{% trans "Members" %}</a>
                    <i class="fa fa-chevron-circle-right"></i>
                    <a href="{% url 'account-signup' %}">{% trans "Sign up" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="account-signup">
        <div class="row">
            <div id="tips" class="col-xs-24 hidden-sm hidden-md hidden-lg right-sidebar">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% blocktrans %}
                    This Information is only visible to People, who need to see it, and is private by default. To understand, who can see what if this Information, please read our <a class="popover-content ppnua" title="" data-original-title="" data-content="" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#privacyPolicyPopupModal" tabindex="-1">Privacy Policy</a>
                {% endblocktrans %}
                </div>

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% trans "After signing up and successful Confirmation of your Email, you will be redirected to the Profile Page, where you can add your Location, Contact Details and social Links." %}
                </div>
            </div>

            <div class="col-xs-24 col-sm-16 col-md-18">
                <form id="signup-form" enctype="multipart/form-data" action="" method="POST" role="form">
                    {% csrf_token %}

                    <div class="row">
                        <div id="pfl-avatar" class="col-xs-24 col-sm-24 col-md-8">
                            <div class="thumbnail avatar" style="display:none; padding-bottom:10px;">
                                <img id="avatar" src="#" alt="Add a personal Touch to your Profile." />
                            </div>

                            <a class="btn btn-primary btn-centered file" id="file"><i class="fa fa-upload fa-fw"></i> {% trans "Upload Photo" %}</a>
                            <input id="id_avatar" name="avatar" type="file">

                            <div class="form-group {% if uform.avatar.errors %}has-error{% endif %}">
                                <span class="help-block">{% if uform.avatar.errors %}{% for error in uform.avatar.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>

                            <p>{% trans "Add a personal Touch to your Profile. Pictures will automatically resize." %}</p>
                        </div>

                        <div id="pfl-details" class="col-xs-24 col-sm-24 col-md-16">
                            <h3>{% trans "Personal Details" %}</h3>

                            <div class="form-group {% if uform.first_name.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    {{ uform.first_name }}
                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                </div>

                                <span class="help-block">{% if uform.first_name.errors %}{% for error in uform.first_name.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                            <div class="form-group {% if uform.last_name.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    {{ uform.last_name }}
                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                </div>

                                <span class="help-block">{% if uform.last_name.errors %}{% for error in uform.last_name.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                            <div class="form-group {% if uform.nickname.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    {{ uform.nickname }}
                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                </div>

                                <span class="help-block">{% if uform.nickname.errors %}{% for error in uform.nickname.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                            <div class="form-group {% if uform.email.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    {{ uform.email }}
                                    <div class="input-group-addon"><i class="fa fa-at fa-fw"></i></div>
                                </div>

                                <span class="help-block">{% if uform.email.errors %}{% for error in uform.email.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                            <div class="form-group {% if uform.password.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    {{ uform.password }}
                                    <div class="input-group-addon"><i class="fa fa-lock fa-fw"></i></div>
                                </div>

                                <span class="help-block">{% if uform.password.errors %}{% for error in uform.password.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                            <div class="form-group {% if uform.retry.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    {{ uform.retry }}
                                    <div class="input-group-addon"><i class="fa fa-unlock fa-fw"></i></div>
                                </div>

                                <span class="help-block">{% if uform.retry.errors %}{% for error in uform.retry.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>

                            <div style="display:inline-block; width:100%">
                                <div class="form-group half {% if uform.gender.errors %}has-error{% endif %}">
                                    <label class="control-label">{{ uform.gender.label }}{% if uform.gender.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                    <div class="input-group">
                                        {{ uform.gender }}
                                        <div class="input-group-addon"><i class="fa fa-venus-mars fa-fw"></i></div>
                                    </div>

                                    <span class="help-block">{% if uform.gender.errors %}{% for error in uform.gender.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                </div>

                                <div class="form-group half pull-right {% if uform.birthday.errors %}has-error{% endif %}">
                                    <label class="control-label">{{ uform.birthday.label }}{% if uform.birthday.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                    <div class="input-group">
                                        {{ uform.birthday }}
                                        <div class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></div>
                                    </div>

                                    <span class="help-block">{% if uform.birthday.errors %}{% for error in uform.birthday.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                </div>
                            </div>

                            <hr>

                            <h3>{% trans "Complete" %}</h3>

                            <div class="checkbox checkbox-primary">
                                {{ uform.receive_newsletters }}
                                {{ uform.receive_newsletters.label_tag }}
                            </div>

                            <div class="form-group {% if uform.captcha.errors %}has-error{% endif %}">
                                {{ uform.captcha }}

                                <span class="help-block">{% if uform.captcha.errors %}{% for error in uform.captcha.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>

                            <div class="alert alert-warning">
                            {% blocktrans %}
                                By signing up, you agree to our <a class="popover-content ppnua" title="" data-original-title="" data-content="" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#privacyPolicyPopupModal" tabindex="-1">Privacy Policy</a> and <a class="popover-content ppnua" title="" data-original-title="" data-content="" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#userAgreementPopupModal" tabindex="-1">User Agreement</a>.
                            {% endblocktrans %}
                            </div>

                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 feature">
                                    <a href="#" name="submit">
                                        <span><i class="flaticon-rounded25"></i></span>
                                        <p>{% trans "Sign up" %}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="tips" class="hidden-xs col-sm-8 col-md-6 right-sidebar">
                <h4>{% trans "Tips" %}</h4>

                <div class="alert alert-info">
                {% blocktrans %}
                    This Information is only visible to People, who need to see it, and is private by default. To understand, who can see what if this Information, please read our <a class="popover-content ppnua" title="" data-original-title="" data-content="" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#privacyPolicyPopupModal" tabindex="-1">Privacy Policy</a>
                {% endblocktrans %}
                </div>

                <div class="alert alert-success">
                    {% trans "After signing up and successful Confirmation of your Email, you will be redirected to the Profile Page, where you can add your Location, Contact Details and social Links." %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->

<!-- Pop-up Overlays -->

<div id="signup-social-popup-overlay" class="well" style="display:none;">
    <div class="popup-overlay-heading">
        <h4>{% trans "Sign-up with social App" %}</h4>
    </div>

    {% comment %}
    <div class="social-buttons" align="center">
        <button class="btn btn-facebook" onclick="javascript:document.location.href='{% url 'social:begin' backend='facebook' %}';"><i class="fa fa-facebook fa-fw fa-3x"></i></button>
        {#<button class="btn btn-twitter" onclick="javascript:document.location.href='{% url 'social:begin' backend='twitter' %}';"><i class="fa fa-twitter fa-fw fa-3x"></i></button>#}
        <button class="btn btn-linkedin" onclick="javascript:document.location.href='{% url 'social:begin' backend='linkedin' %}';"><i class="fa fa-linkedin fa-fw fa-3x"></i></button>
        <button class="btn btn-google-plus" onclick="javascript:document.location.href='{% url 'social:begin' backend='google-oauth2' %}';"><i class="fa fa-google-plus fa-fw fa-3x"></i></button>
    </div>
    {% endcomment %}

    <div class="popup-overlay-info">
        <div class="alert alert-info">
        {% blocktrans %}
            You can also go through a regular signing up Process.<br/>
            To do this, close this Pop-up.
        {% endblocktrans %}
        </div>
    </div>

    <!-- Add an optional button to close the popup -->
    <div class="popup-overlay-footer">
        <button class="btn btn-default signup-social-popup-overlay_close">{% trans "Close" %}</button>
    </div>
</div>

<!-- Scripts -->

<script>
    /*************************************************************************/
    /*** Form Submitting                                                   ***/
    /*************************************************************************/
    $("a[name='submit']").click(function () {
        // --------------------------------------------------------------------
        // --- Check, if Avatar Input is NOT empty
        if ($("#id_avatar").get(0).files.length === 0) {
            alert("Please, select the Avatar Image.");

            return false;
        }

        $("#spinner").fadeIn("slow");

        /*** DATE FORMAT *****************************************************/
        var $input = $("input[name='birthday']");
        var val = $input.val();

        if (val) {
            var valMoment = moment(val);
            var isMoment = moment.isMoment(valMoment);

            if (isMoment) {
                $input.attr("type", "text");
                $input.val(valMoment.format("MM/DD/YYYY"));
            }
        }
        /*********************************************************************/

        $("form#signup-form").submit();

        return true;
    })

    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in uform %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        /*********************************************************************/
        /*** jQuery pop-up Overlay                                         ***/
        /*********************************************************************/
        var options = {
            type:                       "overlay",      //      "tooltip"
            autoopen:                   true,           // def. false
            scrolllock:                 true,           // def. false
            background:                 true,
            backgroundactive:           false,
            color:                      "#000",
            opacity:                    0.5,
            horizontal:                 "center",
            vertical:                   "center",
            offsettop:                  0,
            offsetleft:                 0,
            escape:                     true,
            blur:                       true,
            setzindex:                  true,
            autozindex:                 false,
            keepfocus:                  true,
            focusdelay:                 50,
            outline:                    false,
            detach:                     false,
            //openelement:                ".{popup_id}_open",
            //closeelement:               ".{popup_id}_close",
            transition:                 "all 0.3s"
        };

        $("#signup-social-popup-overlay").popup(options);
    });
</script>
{% endblock %}
